@model fomezero.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1 class="mb-4">Criar Novo Usuário</h1>


<div class="row mt-4">
    <div class="col-md-8 offset-md-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" id="Telefone" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" type="password" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoUsuarioId" class="control-label"></label>
                <select asp-for="TipoUsuarioId" asp-items="ViewBag.TipoUsuarioId" class="form-control" id="tipoUsuarioDropdown">
                    <option value="" disabled selected>Selecione o Tipo de Usuário</option>
                </select>
                <span asp-validation-for="TipoUsuarioId" class="text-danger"></span>
            </div>

            <!-- Campo oculto para armazenar a descrição do tipo de usuário -->
            <input type="hidden" id="descricaoTipoUsuario" name="DescricaoTipoUsuario" />

            <div class="form-group">
                <label asp-for="DocumentoIdentificacao" class="control-label">CPF</label>
                <input asp-for="DocumentoIdentificacao" class="form-control" id="CPF" />
                <span asp-validation-for="DocumentoIdentificacao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary ml-2">Voltar para Home</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            // Aplicar máscara ao campo CPF
            $('#CPF').mask('000.000.000-00');

            // Aplicar máscara ao campo Telefone
            $('#Telefone').mask('(00) 00000-0000', {
                onKeyPress: function (val, e, field, options) {
                    var mask = val.replace(/\D/g, '').length === 10 ? '(00) 0000-0000' : '(00) 00000-0000';
                    $('#Telefone').mask(mask, options);
                }
            });

            // Manter a lógica do dropdown para Tipo de Usuário
            $('#tipoUsuarioDropdown').change(function () {
                var selectedOption = this.options[this.selectedIndex];
                var descricao = selectedOption.text;
                $('#descricaoTipoUsuario').val(descricao);
            });
        });
    </script>
}
