@model fomezero.Models.Instituico

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-4">Detalhes da Instituição</h1>

<div>
    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Contato)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Contato)
                </dd>
            </dl>
        </div>
    </div>
    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a>
        <a asp-action="Index" class="btn btn-secondary ml-2">Voltar para Lista</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#Contato').mask('(00) 00000-0000');
            });
        </script>
    }
