@model fomezero.Models.Doacao

@{
    ViewData["Title"] = "Criar Nova Doação";
}

<h1 class="mb-4">Criar Nova Doação</h1>

<div class="row mt-4">
    <div class="col-md-8 offset-md-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label">Usuário</label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoDoacaoId" class="control-label">Tipo de Doação</label>
                <select asp-for="TipoDoacaoId" class="form-control" asp-items="ViewBag.TipoDoacaoDescricao" id="tipoDoacaoSelect"></select>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label">Valor (se em dinheiro)</label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoAlimento" class="control-label">Alimento doado</label>
                <input asp-for="DescricaoAlimento" class="form-control" id="descricaoAlimentoInput" />
                <span asp-validation-for="DescricaoAlimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary ml-2">Voltar para Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const tipoDoacaoSelect = document.getElementById("tipoDoacaoSelect");
            const descricaoAlimentoInput = document.getElementById("descricaoAlimentoInput");

            // Função para habilitar ou desabilitar o campo de descrição do alimento
            function toggleDescricaoAlimento() {
                if (tipoDoacaoSelect.value === "1") { // Supondo que "1" seja o ID para dinheiro
                    descricaoAlimentoInput.value = "Doação em Dinheiro";
                    descricaoAlimentoInput.disabled = true;
                } else {
                    descricaoAlimentoInput.value = ""; // Limpa o campo caso mude para outro tipo de doação
                    descricaoAlimentoInput.disabled = false;
                }
            }

            // Evento para monitorar mudanças no campo de tipo de doação
            tipoDoacaoSelect.addEventListener("change", toggleDescricaoAlimento);

            // Executar a lógica no carregamento da página
            toggleDescricaoAlimento();
        });
    </script>
}
